<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} Welcome to Kubernetes {% endblock %}</title>
  </head>
  <body>
      <img src="static/LinkedIn-Reactions-1024x576.png" alt="ICDevWeekDemo" class="img-fluid">
      <h2>IPADDRESS: {{ ip_addr }}</h2>
      <h2>HOSTNAME: {{ host_name }}</h2>
  </body>
</html>
